@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dad3f8;
}
::selection {
  background: #6d50e2;
  color: #fff;
}
.container {
  max-width: 950px;
  width: 100%;
  padding: 40px 50px 40px 40px;
  background: #fff;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container .topic {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .list {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-right: 50px;
  position: relative;
}
.content .list label {
  height: 60px;
  font-size: 22px;
  font-weight: 500;
  line-height: 60px;
  cursor: pointer;
  padding-left: 25px;
  transition: all 0.5s ease;
  color: #333;
  z-index: 12;
}
#home:checked ~ .list label.home,
#hotels:checked ~ .list label.hotels,
#eats:checked ~ .list label.eats,
#trains:checked ~ .list label.trains {
  color: #fff;
}
.content .list label:hover {
  color: #6d50e2;
}
.content .slider {
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 100%;
  border-radius: 12px;
  background: #76489D;
  transition: all 0.4s ease;
}
#home:checked ~ .list .slider {
  top: 0;
}
#hotels:checked ~ .list .slider {
  top: 60px;
}
#eats:checked ~ .list .slider {
  top: 120px;
}
#trains:checked ~ .list .slider {
  top: 180px;
}

.content .text-content {
  width: 80%;
  height: 100%;
}
.content .text {
  display: none;
}
.content .text .title {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 500;
}
.content .text p {
  text-align: justify;
}
.content .text-content .home {
  display: block;
}
#home:checked ~ .text-content .home,
#hotels:checked ~ .text-content .hotels,
#eats:checked ~ .text-content .eats,
#trains:checked ~ .text-content .trains {
  display: block;
}
#hotels:checked ~ .text-content .home,
#eats:checked ~ .text-content .home,
#trains:checked ~ .text-content .home {
  display: none;
}
.content input {
  display: block;
}

.return {
  background-color: #fff;
  border-radius: 12px;
  height: 50px;
  width: 110px;
  transition: all 0.4s ease;
}

.return a:hover {
  color: #6d50e2;
}
.return a{
  font-weight: 600;
  font-size: 30px;
  color: #76489D;
  margin-left: 10px;
}